<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="img-portfolio img-responsive"  src="assets/images/zzz.png">
                    </figure>
                </div>

                <div class="column ">
                    <p class="is-size-3 has-text-black is-family-monospace has-text-weight-bold">Hello , This is Jone Zhang.</p>
                    <p class="is-size-3 has-text-black is-family-monospace has-text-weight-bold">A late-night learner.</p>
                    <p class="is-size-3 has-text-black is-family-monospace has-text-weight-bold">From the University of Chinese Academy of Sciences.</p>
                    <p class="is-size-3 has-text-black is-family-monospace has-text-weight-bold">Be interested in Golang、Python and C++.</p>
                    <p class="is-size-3 has-text-black is-family-monospace has-text-weight-bold">Especially good at using ctrl c & v.</p>
                    <p class="is-size-3 has-text-black is-family-monospace has-text-weight-bold">Also engaged in NLP and hardware development.</p>

                    <br>
                    <br>
                    <br>

                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded  has-text-weight-normal is-black is-outlined has-text-weight-semibold">Contact Jone</a>
                            </a>

                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded has-text-weight-normal is-black is-outlined has-text-weight-semibold">Some Blogs</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>